flask
flask-restplus
gunicorn
werkzeug
pandas
numpy
keras
keras-tcn
scikit-learn == 0.21.2
tushare
lxml
requests
tensorflow == 2.5.1
bs4
gevent
lightgbm == 2.2.3
flask-cors
tushare
flask_apscheduler == 1.11.0